@model RegisterFormModel

@{
    ViewData["Title"] = "Register";
}

<partial name="~/Views/Shared/Partials/_LoginHeader.cshtml" />

<section class="register-form-section">
    <div class="container">
        <form asp-controller="Register" asp-action="Index" asp-route-ReturnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="register-form">
            <div asp-validation-summary="ModelOnly" class="validation error"></div>
            <div class="register-account">
                <p>
                    Please Register Your new Account <hr/>
                </p>
            </div>
            <div class="firstname">
                <label>First Name*</label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName" class="error"></span>
            </div>
            <div class="lastname">
                <label>Last Name*</label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="streetname">
                <label>Street Name*</label>
                <input asp-for="StreetName"/>
                <span asp-validation-for="StreetName" class="error"></span>
            </div>
            <div class="postalcode">
                <label>Postal Code*</label>
                <input asp-for="PostalCode"/>
                <span asp-validation-for="PostalCode" class="error"></span>
            </div>
            <div class="city">
                <label>City*</label>
                <input asp-for="City"/>
                <span asp-validation-for="City" class="error"></span>
            </div>
            <div class="mobile">
                <label>Mobile (optional)</label>
                <input asp-for="PhoneNumber"/>
            </div>
            <div class="company">
                <label>Company (optional)</label>
                <input asp-for="Company"/>
            </div>
            <div class="email">
                <label>E-mail*</label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email"class="error"></span>
            </div>
            <div class="password">
                <label>Password*</label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="confirm-password">
                <label>Confirm Password*</label>
                <input asp-for="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="upload-image">
                <label>Upload Profile Image (optional)</label>
                <input asp-for="ProfileImage" class="profile-image" accept="image/*"/>
            </div>
            <div class="checkbox">
                <input asp-for="Terms" type="checkbox"/>
                <label>I have read and accepts the terms and agreements</label>
            </div>
            <div class="register-submit-box">
                <button class="register-submit-btn" type="submit">
                    Submit
                </button>
            </div> 
        </form>
    </div>
</section>

<partial name="~/Views/Shared/Partials/_Footer.cshtml" />
