@{
    ViewData["Title"] = "Register";
}

<section class="register-form-section">
    <div class="container">
        <form class="register-form">
            <div class="register-account">
                <p>
                    Please Register Your new Account <hr></hr>
                </p>
            </div>
            <div class="firstname">
                <label>First Name*</label>
                <input type="text" name="firstname"></input>
            </div>
            <div class="lastname">
                <label>Last Name*</label>
                <input type="text" name="lastname"></input>
            </div>
            <div class="streetname">
                <label>Street Name*</label>
                <input type="text" name="streetname"></input>
            </div>
            <div class="postalcode">
                <label>Postal Code*</label>
                <input type="text" name="postalcode"></input>
            </div>
            <div class="city">
                <label>City*</label>
                <input type="text" name="city"></input>
            </div>
            <div class="mobile">
                <label>Mobile (optional)</label>
                <input type="text" name="mobile"></input>
            </div>
            <div class="company">
                <label>Company (optional)</label>
                <input type="text" name="company"></input>
            </div>
            <div class="email">
                <label>E-mail*</label>
                <input type="text" name="email"></input>
            </div>
            <div class="password">
                <label>Password*</label>
                <input type="text" name="password"></input>
            </div>
            <div class="confirm-password">
                <label>Confirm Password*</label>
                <input type="text" name="confirm-password"></input>
            </div>
            <div class="upload-image">
                <label>Upload Profile Image (optional)</label>
                <input type="text" name="upload-image"></input>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="checkbox"></input>
                <label>I have read and accepts the terms and agreements</label>
            </div>
            <div class="register-submit-box">
                <button class="register-submit-btn" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</section>
