<section class="contact-showcase container">
    <img src="~/images/contact.jpg"/>
    <div class="title-1">
    <h1>CONTACT</h1>
    </div>
    <div class="title-2">
    <h2>HOME. CONTACT</h2>
    </div>
</section>