<section class="header container">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.svg" alt="" /></a>
    </div>

    <nav class="menulinkicons">
        <a class="menu-link" asp-controller="Login" asp-action="Index">Login</a>

        <a class="menu-link" asp-controller="Shopping" asp-action="Index">
            <i class="fa-sharp fa-regular fa-rectangle-vertical"></i>
        </a>
        <span class="menu-badge">2</span>
    </nav>
</section>